source/pages/contacts.pug
extends template/default

block variables
	- var title = 'Контакты'
	- var pageClass = 'contacts-page'
	- var page = 'Home'
	- var pageName = 'Контакты'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		.contacts-wrapper
			.contacts-left.contacts-item
				.section-title.text-left Давайте познакомимся
				.text-normal Что вас интересует?
				.contacts-tabs
					ul.tabs-nav
						li.tabs-nav-item.active
							span Высшее образование
						li.tabs-nav-item.tabs-nav-item--smoll
							span Среднее
						li.tabs-nav-item
							span Языковые курсы
						li.tabs-nav-item
							span Каникулы за рубежом 
						li.tabs-nav-item.tabs-nav-item--smoll
							span Виза
						li.tabs-nav-item
							span Туры 
					.tabs-content
						.tabs-content-item.active
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 2
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 3
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 4
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 5
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 6
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
				form.form-person
					.input-item
						input(type="text", name="Name", placeholder="Ваше имя", required)
					.input-item
						input(type="text", name="Phone", placeholder="Ваш номер телефона", required)
					.input-item
						input(type="text", name="ask", placeholder="Задавайте любые вопросы", required)
					.input-item
						button.btn-base.btn-yellow.form-person__btn Отправить
			.contacts-right.contacts-item
				.section-title.text-left Наши контакты
				.contacts-info
					.contacts-info__left
						.contacts-info__item
							.contacts-info__title Почта
							a(href="mailto:info@compass.in.ua").contacts-info__value info@compass.in.ua
						.contacts-info__item
							.contacts-info__title Адрес
							.contacts-info__value г. Днепр, ул. Гоголя 19
						.contacts-info__item
							.contacts-info__title Время работы
							.contacts-info__value Пн - Пт (10:00 - 18:00)
							.contacts-info__value Сб - Вс выходной
					.contacts-info__right
						.contacts-info__item
							.contacts-info__title Контактные номера <br><br>
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
						ul.social-links.contacts-social
							li
								a(href="#").social-google
							li
								a(href="#").social-facebook
							li
								a(href="#").social-instagram
							li
								a(href="#").social-youtube
				.contacts-map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.009191572657!2d35.04895201566017!3d48.456353179250165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d856bb4857%3A0x8d0bb26a6a3394d2!2z0YPQuy4g0JPQvtCz0L7Qu9GPLCAxOSwg0JTQvdC40L_RgNC-LCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1569525886674!5m2!1sru!2sua" width="100%" height="210" frameborder="0" style="border:0;" allowfullscreen=""></iframe>		

public/contacts.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Контакты</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="./css/styles.min.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body class="contacts-page">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <nav class="header-top-left">
              <ul class="menu-top hidden-1100">
                <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="header-top-right">
              <div class="header-top-item">
                <div class="header-top-contacts">
                  <div class="header-top-contacts__email hidden-768">info@compass.in.ua</div><a class="header-top-contacts__phone" href="tel:+38(063) 295-39-59"><span>+38(063)</span> 295-39-59</a>
                </div>
              </div>
              <div class="header-top-item">
                <button class="btn-base btn-feedback btn-violet hidden-768">Заказать звонок            </button>
              </div>
              <div class="header-top-item search-langs">
                <button class="btn-search btn-search-js hidden-1100"></button>
                <div class="langs">
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <div class="active">ua</div>
                    </div>
                    <div class="dropdown-item"><a href="#">ru</a></div>
                    <div class="dropdown-item"><a href="#">eng</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search">
            <form class="search-form">
              <div class="search-form-input">
                <input class="search-form__input" type="text" placeholder="Поиск по сайту">
                <button class="search-form__btn"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-wrapper">
            <div class="header-bottom-left"><a class="header-logo" href="/"></a></div>
            <nav class="header-bottom-right">
              <div class="btn-menu-mobile">
                <button class="btn-search btn-search-js btn-search-mobile"></button>
                <button class="btn-menu btm-memu-js"></button>
              </div>
              <div class="nav-bg-close btm-memu-js"> </div>
              <div class="nav">
                <button class="menu-close btm-memu-js show-1100"></button>
                <ul class="header-bottom-menu">
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Страны</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Образование</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Каникулы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Языковые курсы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/service.html">Наши сервисы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/events.html">Мероприятия</a></li>
                </ul>
                <ul class="menu-top show-1100">
                  <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
                </ul>
                <div class="show-1100">
                  <ul class="menu-social social-links">
                    <li><a class="social-facebook" href="#"></a></li>
                    <li><a class="social-instagram" href="#"></a></li>
                    <li><a class="social-youtube" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="header-actions">
      <div class="container position-relative">
        <div class="header-actions-wrap"><a class="actions-item favorites-link" href="/"><span>99</span></a><a class="actions-item comparisons-link" href="/"><span>99</span></a></div>
      </div>
    </div>
    <main class="main">
      <!--You section or content-->
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="#">Compass</a></li>
          <li class="breadcrumbs-item">Контакты</li>
        </ul>
        <div class="contacts-wrapper">
          <div class="contacts-left contacts-item">
            <div class="section-title text-left">Давайте познакомимся</div>
            <div class="text-normal">Что вас интересует?</div>
            <div class="contacts-tabs">
              <ul class="tabs-nav">
                <li class="tabs-nav-item active"><span>Высшее образование</span></li>
                <li class="tabs-nav-item tabs-nav-item--smoll"><span>Среднее</span></li>
                <li class="tabs-nav-item"><span>Языковые курсы</span></li>
                <li class="tabs-nav-item"><span>Каникулы за рубежом </span></li>
                <li class="tabs-nav-item tabs-nav-item--smoll"><span>Виза</span></li>
                <li class="tabs-nav-item"><span>Туры </span></li>
              </ul>
              <div class="tabs-content">
                <div class="tabs-content-item active">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
                <div class="tabs-content-item">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина 2</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
                <div class="tabs-content-item">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина 3</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
                <div class="tabs-content-item">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина 4</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
                <div class="tabs-content-item">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина 5</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
                <div class="tabs-content-item">
                  <div class="contacts-person">
                    <div class="contacts-person__left">
                      <div class="contacts-person__avatar"><img src="/img/images/contacts-avatar.jpg" alt="Ирина"></div>
                    </div>
                    <div class="contacts-person__right">
                      <div class="contacts-person__title">Ирина 6</div>
                      <div class="contacts-person__description">Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.</div><a class="contacts-person__email" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form class="form-person">
              <div class="input-item">
                <input type="text" name="Name" placeholder="Ваше имя" required>
              </div>
              <div class="input-item">
                <input type="text" name="Phone" placeholder="Ваш номер телефона" required>
              </div>
              <div class="input-item">
                <input type="text" name="ask" placeholder="Задавайте любые вопросы" required>
              </div>
              <div class="input-item">
                <button class="btn-base btn-yellow form-person__btn">Отправить</button>
              </div>
            </form>
          </div>
          <div class="contacts-right contacts-item">
            <div class="section-title text-left">Наши контакты</div>
            <div class="contacts-info">
              <div class="contacts-info__left">
                <div class="contacts-info__item">
                  <div class="contacts-info__title">Почта</div><a class="contacts-info__value" href="mailto:info@compass.in.ua">info@compass.in.ua</a>
                </div>
                <div class="contacts-info__item">
                  <div class="contacts-info__title">Адрес</div>
                  <div class="contacts-info__value">г. Днепр, ул. Гоголя 19</div>
                </div>
                <div class="contacts-info__item">
                  <div class="contacts-info__title">Время работы</div>
                  <div class="contacts-info__value">Пн - Пт (10:00 - 18:00)</div>
                  <div class="contacts-info__value">Сб - Вс выходной</div>
                </div>
              </div>
              <div class="contacts-info__right">
                <div class="contacts-info__item">
                  <div class="contacts-info__title">Контактные номера <br><br></div><a class="contacts-info__value" href="tel:+38(067) 911-59-20">+38(067) 911-59-20</a><a class="contacts-info__value" href="tel:+38(067) 911-59-20">+38(067) 911-59-20</a><a class="contacts-info__value" href="tel:+38(067) 911-59-20">+38(067) 911-59-20</a><a class="contacts-info__value" href="tel:+38(067) 911-59-20">+38(067) 911-59-20</a>
                </div>
                <ul class="social-links contacts-social">
                  <li><a class="social-google" href="#"></a></li>
                  <li><a class="social-facebook" href="#"></a></li>
                  <li><a class="social-instagram" href="#"></a></li>
                  <li><a class="social-youtube" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="contacts-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.009191572657!2d35.04895201566017!3d48.456353179250165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d856bb4857%3A0x8d0bb26a6a3394d2!2z0YPQuy4g0JPQvtCz0L7Qu9GPLCAxOSwg0JTQvdC40L_RgNC-LCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1569525886674!5m2!1sru!2sua" width="100%" height="210" frameborder="0" style="border:0;" allowfullscreen=""></iframe>		</div>
          </div>
        </div>
      </div>
    </main>
    <div class="hidden">
      <div class="popup popup-feedback" id="popup-feedback">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title">Заполните форму</div>
          <div class="popup-longtitle">Мы свяжемся с вами и ответим на любые возникшие вопросы</div>
        </div>
        <form class="popup-form" action="">
          <div class="popup-inputs">
            <div class="popup-input">
              <input type="text" name="Name" placeholder="Имя*" required>
            </div>
            <div class="popup-input">
              <input class="input-phone-mask" type="text" name="Phone" placeholder="Телефон*" required>
            </div>
          </div>
          <div class="popup-input">
            <input type="text" name="Email" placeholder="Email*" required>
          </div>
          <div class="popup-brn-send">
            <button class="btn-send btn-base btn-violet">подать заявку</button>
          </div>
        </form>
      </div>
      <div class="popup popup-success" id="popup-success">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title" style="color: #5E4EB4">Спасибо за заявку!</div>
          <div class="popup-longtitle">Наш менеджер свяжется с Вами в ближайшее время</div>
        </div>
      </div>
    </div>
    <div class="popup-action" id="popup-favorites">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Избранное</a></div>
      </div>
    </div>
    <div class="popup-action" id="popup-comparisons">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Сравнение</a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-item"><a class="footer-logo" href="/"></a></div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Страны</div>
            <ul class="footer-item__list">
              <li> <a href="#">Великобритания</a></li>
              <li> <a href="#">Канада</a></li>
              <li> <a href="#">Ирландия</a></li>
              <li> <a href="#">США</a></li>
              <li> <a href="#">Швейцария</a></li>
              <li> <a href="#">Мальта</a></li>
              <li> <a href="#">Все страны</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Образование</div>
            <ul class="footer-item__list">
              <li> <a href="#">Среднее образование</a></li>
              <li> <a href="#">Подготовка к поступлению</a></li>
              <li> <a href="#">Бакалавриат</a></li>
              <li> <a href="#">Магистратура</a></li>
              <li> <a href="#">Последипломное </a></li>
              <li> <a href="#">Каникулы</a></li>
              <li> <a href="#">Языковые курсы</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Compass</div>
            <ul class="footer-item__list">
              <li> <a href="#">О нас</a></li>
              <li> <a href="#">Сервисы</a></li>
              <li> <a href="#">Мероприятия</a></li>
              <li> <a href="#">Блог</a></li>
              <li> <a href="#">Партнерам</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <div class="footer-item__title hidden-1000">Контакты</div>
            <div class="footer-item__list">
              <ul class="footer-item__phone">
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
              </ul>
              <ul class="footer-item__address">
                <li> г. Днепр, ул. Гоголя 19</li>
                <li>Пн - Пт 10 - 18</li>
                <li>Сб - Вс выходной</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <ul class="footer-item__list social-links">
              <li><a class="social-facebook" href="#"></a></li>
              <li><a class="social-instagram" href="#"></a></li>
              <li><a class="social-youtube" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>
