source/pages/favorites.pug
extends template/default

block variables
    - var title = 'Страны'
    - var pageClass = 'countries-page'
    - var page = 'Home'
    - var pageName = 'Страны'

block content
    //You section or content
    .container
        include ../blocks/components/breadcrumbs/breadcrumbs.pug
        .section-title Вы отметили в избранное
        .section-description Сравните выбранные Вами ВУЗы по нашей таблице
        .section-universities-wrapper
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__recommend COMPASS </br> рекомендует
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
        .button-morelink
            button.btn-base.btn-more сравнить все

public/favorites.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Страны</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="./css/styles.min.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body class="countries-page">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <nav class="header-top-left">
              <ul class="menu-top hidden-1100">
                <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="header-top-right">
              <div class="header-top-item">
                <div class="header-top-contacts">
                  <div class="header-top-contacts__email hidden-768">info@compass.in.ua</div><a class="header-top-contacts__phone" href="tel:+38(063) 295-39-59"><span>+38(063)</span> 295-39-59</a>
                </div>
              </div>
              <div class="header-top-item">
                <button class="btn-base btn-feedback btn-violet hidden-768">Заказать звонок            </button>
              </div>
              <div class="header-top-item search-langs">
                <button class="btn-search btn-search-js hidden-1100"></button>
                <div class="langs">
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <div class="active">ua</div>
                    </div>
                    <div class="dropdown-item"><a href="#">ru</a></div>
                    <div class="dropdown-item"><a href="#">eng</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search">
            <form class="search-form">
              <div class="search-form-input">
                <input class="search-form__input" type="text" placeholder="Поиск по сайту">
                <button class="search-form__btn"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-wrapper">
            <div class="header-bottom-left"><a class="header-logo" href="/"></a></div>
            <nav class="header-bottom-right">
              <div class="btn-menu-mobile">
                <button class="btn-search btn-search-js btn-search-mobile"></button>
                <button class="btn-menu btm-memu-js"></button>
              </div>
              <div class="nav-bg-close btm-memu-js"> </div>
              <div class="nav">
                <button class="menu-close btm-memu-js show-1100"></button>
                <ul class="header-bottom-menu">
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Страны</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Образование</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Каникулы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Языковые курсы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/service.html">Наши сервисы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/events.html">Мероприятия</a></li>
                </ul>
                <ul class="menu-top show-1100">
                  <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
                </ul>
                <div class="show-1100">
                  <ul class="menu-social social-links">
                    <li><a class="social-facebook" href="#"></a></li>
                    <li><a class="social-instagram" href="#"></a></li>
                    <li><a class="social-youtube" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="header-actions">
      <div class="container position-relative">
        <div class="header-actions-wrap"><a class="actions-item favorites-link" href="/"><span>99</span></a><a class="actions-item comparisons-link" href="/"><span>99</span></a></div>
      </div>
    </div>
    <main class="main">
      <!--You section or content-->
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="#">Compass</a></li>
          <li class="breadcrumbs-item">Страны</li>
        </ul>
        <div class="section-title">Вы отметили в избранное</div>
        <div class="section-description">Сравните выбранные Вами ВУЗы по нашей таблице</div>
        <div class="section-universities-wrapper">
          <div class="section-universities-item">
            <div class="section-universities-item__container">
              <div class="section-universities-item__left"><a class="section-universities-item__img" href="#" style="background-image: url(/img/images/section-universities-item.jpg)"><img src="/img/images/universities-logo1.png" alt="The University of Toledo"></a></div>
              <div class="section-universities-item__right">
                <div class="button-nav">
                  <button class="compare-btn"></button>
                  <button class="delete-btn"></button>
                </div>
                <div class="section-universities-item__recommend">COMPASS </br> рекомендует</div>
                <div class="section-universities-item__title">The University of Toledo</div>
                <div class="section-universities-item__position">Орландо, Флорида, США</div>
                <div class="section-universities-item__age age">
                  <div class="age__title">Возраст:</div>
                  <div class="age__number"> 14+</div>
                </div>
                <div class="section-universities-item__price price">
                  <div class="price__title">Стоимость:</div>
                  <div class="price__number"> $4. 000 / неделю</div>
                </div>
                <div class="section-universities-item__link"><a href="#">
                    <button>Подробнее</button></a></div>
              </div>
            </div>
          </div>
          <div class="section-universities-item">
            <div class="section-universities-item__container">
              <div class="section-universities-item__left"><a class="section-universities-item__img" href="#" style="background-image: url(/img/images/section-universities-item.jpg)"><img src="/img/images/universities-logo1.png" alt="The University of Toledo"></a></div>
              <div class="section-universities-item__right">
                <div class="button-nav">
                  <button class="compare-btn"></button>
                  <button class="delete-btn"></button>
                </div>
                <div class="section-universities-item__title">The University of Toledo</div>
                <div class="section-universities-item__position">Орландо, Флорида, США</div>
                <div class="section-universities-item__age age">
                  <div class="age__title">Возраст:</div>
                  <div class="age__number"> 14+</div>
                </div>
                <div class="section-universities-item__price price">
                  <div class="price__title">Стоимость:</div>
                  <div class="price__number"> $4. 000 / неделю</div>
                </div>
                <div class="section-universities-item__link"><a href="#">
                    <button>Подробнее</button></a></div>
              </div>
            </div>
          </div>
          <div class="section-universities-item">
            <div class="section-universities-item__container">
              <div class="section-universities-item__left"><a class="section-universities-item__img" href="#" style="background-image: url(/img/images/section-universities-item.jpg)"><img src="/img/images/universities-logo1.png" alt="The University of Toledo"></a></div>
              <div class="section-universities-item__right">
                <div class="button-nav">
                  <button class="compare-btn"></button>
                  <button class="delete-btn"></button>
                </div>
                <div class="section-universities-item__title">The University of Toledo</div>
                <div class="section-universities-item__position">Орландо, Флорида, США</div>
                <div class="section-universities-item__age age">
                  <div class="age__title">Возраст:</div>
                  <div class="age__number"> 14+</div>
                </div>
                <div class="section-universities-item__price price">
                  <div class="price__title">Стоимость:</div>
                  <div class="price__number"> $4. 000 / неделю</div>
                </div>
                <div class="section-universities-item__link"><a href="#">
                    <button>Подробнее</button></a></div>
              </div>
            </div>
          </div>
          <div class="section-universities-item">
            <div class="section-universities-item__container">
              <div class="section-universities-item__left"><a class="section-universities-item__img" href="#" style="background-image: url(/img/images/section-universities-item.jpg)"><img src="/img/images/universities-logo1.png" alt="The University of Toledo"></a></div>
              <div class="section-universities-item__right">
                <div class="button-nav">
                  <button class="compare-btn"></button>
                  <button class="delete-btn"></button>
                </div>
                <div class="section-universities-item__title">The University of Toledo</div>
                <div class="section-universities-item__position">Орландо, Флорида, США</div>
                <div class="section-universities-item__age age">
                  <div class="age__title">Возраст:</div>
                  <div class="age__number"> 14+</div>
                </div>
                <div class="section-universities-item__price price">
                  <div class="price__title">Стоимость:</div>
                  <div class="price__number"> $4. 000 / неделю</div>
                </div>
                <div class="section-universities-item__link"><a href="#">
                    <button>Подробнее</button></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-morelink">
          <button class="btn-base btn-more">сравнить все</button>
        </div>
      </div>
    </main>
    <div class="hidden">
      <div class="popup popup-feedback" id="popup-feedback">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title">Заполните форму</div>
          <div class="popup-longtitle">Мы свяжемся с вами и ответим на любые возникшие вопросы</div>
        </div>
        <form class="popup-form" action="">
          <div class="popup-inputs">
            <div class="popup-input">
              <input type="text" name="Name" placeholder="Имя*" required>
            </div>
            <div class="popup-input">
              <input class="input-phone-mask" type="text" name="Phone" placeholder="Телефон*" required>
            </div>
          </div>
          <div class="popup-input">
            <input type="text" name="Email" placeholder="Email*" required>
          </div>
          <div class="popup-brn-send">
            <button class="btn-send btn-base btn-violet">подать заявку</button>
          </div>
        </form>
      </div>
      <div class="popup popup-success" id="popup-success">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title" style="color: #5E4EB4">Спасибо за заявку!</div>
          <div class="popup-longtitle">Наш менеджер свяжется с Вами в ближайшее время</div>
        </div>
      </div>
    </div>
    <div class="popup-action" id="popup-favorites">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Избранное</a></div>
      </div>
    </div>
    <div class="popup-action" id="popup-comparisons">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Сравнение</a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-item"><a class="footer-logo" href="/"></a></div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Страны</div>
            <ul class="footer-item__list">
              <li> <a href="#">Великобритания</a></li>
              <li> <a href="#">Канада</a></li>
              <li> <a href="#">Ирландия</a></li>
              <li> <a href="#">США</a></li>
              <li> <a href="#">Швейцария</a></li>
              <li> <a href="#">Мальта</a></li>
              <li> <a href="#">Все страны</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Образование</div>
            <ul class="footer-item__list">
              <li> <a href="#">Среднее образование</a></li>
              <li> <a href="#">Подготовка к поступлению</a></li>
              <li> <a href="#">Бакалавриат</a></li>
              <li> <a href="#">Магистратура</a></li>
              <li> <a href="#">Последипломное </a></li>
              <li> <a href="#">Каникулы</a></li>
              <li> <a href="#">Языковые курсы</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Compass</div>
            <ul class="footer-item__list">
              <li> <a href="#">О нас</a></li>
              <li> <a href="#">Сервисы</a></li>
              <li> <a href="#">Мероприятия</a></li>
              <li> <a href="#">Блог</a></li>
              <li> <a href="#">Партнерам</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <div class="footer-item__title hidden-1000">Контакты</div>
            <div class="footer-item__list">
              <ul class="footer-item__phone">
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
              </ul>
              <ul class="footer-item__address">
                <li> г. Днепр, ул. Гоголя 19</li>
                <li>Пн - Пт 10 - 18</li>
                <li>Сб - Вс выходной</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <ul class="footer-item__list social-links">
              <li><a class="social-facebook" href="#"></a></li>
              <li><a class="social-instagram" href="#"></a></li>
              <li><a class="social-youtube" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>
