public/Insurance.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Страховка</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="./css/styles.min.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body class="insurance">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <nav class="header-top-left">
              <ul class="menu-top hidden-1100">
                <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="header-top-right">
              <div class="header-top-item">
                <div class="header-top-contacts">
                  <div class="header-top-contacts__email hidden-768">info@compass.in.ua</div><a class="header-top-contacts__phone" href="tel:+38(063) 295-39-59"><span>+38(063)</span> 295-39-59</a>
                </div>
              </div>
              <div class="header-top-item">
                <button class="btn-base btn-feedback btn-violet hidden-768">Заказать звонок            </button>
              </div>
              <div class="header-top-item search-langs">
                <button class="btn-search btn-search-js hidden-1100"></button>
                <div class="langs">
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <div class="active">ua</div>
                    </div>
                    <div class="dropdown-item"><a href="#">ru</a></div>
                    <div class="dropdown-item"><a href="#">eng</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search">
            <form class="search-form">
              <div class="search-form-input">
                <input class="search-form__input" type="text" placeholder="Поиск по сайту">
                <button class="search-form__btn"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-wrapper">
            <div class="header-bottom-left"><a class="header-logo" href="/"></a></div>
            <nav class="header-bottom-right">
              <div class="btn-menu-mobile">
                <button class="btn-search btn-search-js btn-search-mobile"></button>
                <button class="btn-menu btm-memu-js"></button>
              </div>
              <div class="nav-bg-close btm-memu-js"> </div>
              <div class="nav">
                <button class="menu-close btm-memu-js show-1100"></button>
                <ul class="header-bottom-menu">
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Страны</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Образование</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Каникулы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Языковые курсы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/service.html">Наши сервисы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/events.html">Мероприятия</a></li>
                </ul>
                <ul class="menu-top show-1100">
                  <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
                </ul>
                <div class="show-1100">
                  <ul class="menu-social social-links">
                    <li><a class="social-facebook" href="#"></a></li>
                    <li><a class="social-instagram" href="#"></a></li>
                    <li><a class="social-youtube" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="header-actions">
      <div class="container position-relative">
        <div class="header-actions-wrap"><a class="actions-item favorites-link" href="/"><span>99</span></a><a class="actions-item comparisons-link" href="/"><span>99</span></a></div>
      </div>
    </div>
    <main class="main">
      <!--You section or content-->
      <div class="banner-smart" style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;">
        <div class="container position-relative">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a href="#">Compass</a></li>
            <li class="breadcrumbs-item">Страховка</li>
          </ul>
          <div class="banner-smart__content">
            <h1 class="banner-smart__title">Оформление медицинской страховки</h1>
            <div class="banner-smart__longtitle">Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за</div>
            <button class="banner-smart__btn btn-yellow btn-base">ОФОРМИТЬ ЗАЯВКУ</button>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <h2 class="text-center">Преимущества страхования</h2>
          <div class="section-description">Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.</div>
          <div class="insurance-advantage">
            <div class="insurance-advantage-item">
              <div class="insurance-advantage-item__c">
                <div class="insurance-advantage-item__img"><img src="/img/images/advantage.png"></div>
                <div class="insurance-advantage-item__title">Повседневная практика</div>
                <div class="insurance-advantage-item__text">Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
              </div>
            </div>
            <div class="insurance-advantage-item">
              <div class="insurance-advantage-item__c">
                <div class="insurance-advantage-item__img"><img src="/img/images/advantage.png"></div>
                <div class="insurance-advantage-item__title">Повседневная практика</div>
                <div class="insurance-advantage-item__text">Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
              </div>
            </div>
            <div class="insurance-advantage-item">
              <div class="insurance-advantage-item__c">
                <div class="insurance-advantage-item__img"><img src="/img/images/advantage.png"></div>
                <div class="insurance-advantage-item__title">Повседневная практика</div>
                <div class="insurance-advantage-item__text">Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn-base btn-violet">Оформить страховку</button>
          </div>
          <div class="section">
            <h2 class="text-center">Виды страховок</h2>
            <div class="section-description">Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.</div>
            <div class="section-wrapper">
              <div class="section-col-4-item">
                <div class="section-col-4-item__container">
                  <div class="section-col-4-item__img"><img src="/img/images/icon-1.png" alt="Туристическое страхование"></div>
                  <div class="section-col-4-item__title">Туристическое страхование</div>
                  <div class="section-col-4-item__description">Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
                </div>
              </div>
              <div class="section-col-4-item">
                <div class="section-col-4-item__container">
                  <div class="section-col-4-item__img"><img src="/img/images/icon-1.png" alt="Страхование жизни"></div>
                  <div class="section-col-4-item__title">Страхование жизни</div>
                  <div class="section-col-4-item__description">Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
                </div>
              </div>
              <div class="section-col-4-item">
                <div class="section-col-4-item__container">
                  <div class="section-col-4-item__img"><img src="/img/images/icon-1.png" alt="Авиа страхование"></div>
                  <div class="section-col-4-item__title">Авиа страхование</div>
                  <div class="section-col-4-item__description">Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
                </div>
              </div>
              <div class="section-col-4-item">
                <div class="section-col-4-item__container">
                  <div class="section-col-4-item__img"><img src="/img/images/icon-1.png" alt="Медицинское страхование"></div>
                  <div class="section-col-4-item__title">Медицинское страхование</div>
                  <div class="section-col-4-item__description">Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section form-partners">
        <div class="container-min">
          <div class="form-partners-wrapper">
            <div class="form-partners__left">
              <div class="form-partners__title">Получить консультацию с нашими специалистами</div>
              <div class="form-partners__longtitle">Заполните форму или свяжитесь с нами спомощью наших мессенджеров</div>
            </div>
            <div class="form-partners__right">
              <form class="form-partners-style">
                <div class="input-group">
                  <div class="input-item">
                    <input type="text" name="Name" placeholder="Имя*" required>
                  </div>
                  <div class="input-item">
                    <input type="text" name="Phone" placeholder="Телефон*" required>
                  </div>
                </div>
                <div class="input-item">
                  <input type="text" name="Email" placeholder="Email*" required>
                </div>
                <div class="textarea-item">
                  <textarea name="Message" placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? "></textarea>
                </div>
                <button class="btn-base btn-yellow form-partners__btn">Заказать консультацию</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="hidden">
      <div class="popup popup-feedback" id="popup-feedback">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title">Заполните форму</div>
          <div class="popup-longtitle">Мы свяжемся с вами и ответим на любые возникшие вопросы</div>
        </div>
        <form class="popup-form" action="">
          <div class="popup-inputs">
            <div class="popup-input">
              <input type="text" name="Name" placeholder="Имя*" required>
            </div>
            <div class="popup-input">
              <input class="input-phone-mask" type="text" name="Phone" placeholder="Телефон*" required>
            </div>
          </div>
          <div class="popup-input">
            <input type="text" name="Email" placeholder="Email*" required>
          </div>
          <div class="popup-brn-send">
            <button class="btn-send btn-base btn-violet">подать заявку</button>
          </div>
        </form>
      </div>
      <div class="popup popup-success" id="popup-success">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title" style="color: #5E4EB4">Спасибо за заявку!</div>
          <div class="popup-longtitle">Наш менеджер свяжется с Вами в ближайшее время</div>
        </div>
      </div>
    </div>
    <div class="popup-action" id="popup-favorites">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Избранное</a></div>
      </div>
    </div>
    <div class="popup-action" id="popup-comparisons">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Сравнение</a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-item"><a class="footer-logo" href="/"></a></div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Страны</div>
            <ul class="footer-item__list">
              <li> <a href="#">Великобритания</a></li>
              <li> <a href="#">Канада</a></li>
              <li> <a href="#">Ирландия</a></li>
              <li> <a href="#">США</a></li>
              <li> <a href="#">Швейцария</a></li>
              <li> <a href="#">Мальта</a></li>
              <li> <a href="#">Все страны</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Образование</div>
            <ul class="footer-item__list">
              <li> <a href="#">Среднее образование</a></li>
              <li> <a href="#">Подготовка к поступлению</a></li>
              <li> <a href="#">Бакалавриат</a></li>
              <li> <a href="#">Магистратура</a></li>
              <li> <a href="#">Последипломное </a></li>
              <li> <a href="#">Каникулы</a></li>
              <li> <a href="#">Языковые курсы</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Compass</div>
            <ul class="footer-item__list">
              <li> <a href="#">О нас</a></li>
              <li> <a href="#">Сервисы</a></li>
              <li> <a href="#">Мероприятия</a></li>
              <li> <a href="#">Блог</a></li>
              <li> <a href="#">Партнерам</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <div class="footer-item__title hidden-1000">Контакты</div>
            <div class="footer-item__list">
              <ul class="footer-item__phone">
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
              </ul>
              <ul class="footer-item__address">
                <li> г. Днепр, ул. Гоголя 19</li>
                <li>Пн - Пт 10 - 18</li>
                <li>Сб - Вс выходной</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <ul class="footer-item__list social-links">
              <li><a class="social-facebook" href="#"></a></li>
              <li><a class="social-instagram" href="#"></a></li>
              <li><a class="social-youtube" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>

source/pages/Insurance.pug
extends template/default

block variables
	- var title = 'Страховка'
	- var pageClass = 'insurance'
	- var page = 'Home'
	- var pageName = 'Страховка'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Оформление медицинской страховки
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base ОФОРМИТЬ ЗАЯВКУ
	.section
		.container
			h2.text-center Преимущества страхования
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.insurance-advantage
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.

			.text-center
				button.btn-base.btn-violet Оформить страховку
			.section
				h2.text-center Виды страховок
				.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
				.section-wrapper
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Туристическое страхование")
							.section-col-4-item__title Туристическое страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Страхование жизни")
							.section-col-4-item__title Страхование жизни
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Авиа страхование")
							.section-col-4-item__title Авиа страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Медицинское страхование")
							.section-col-4-item__title Медицинское страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
	section.section.form-partners
		.container-min
			.form-partners-wrapper
				.form-partners__left
					.form-partners__title Получить консультацию с нашими специалистами
					.form-partners__longtitle Заполните форму или свяжитесь с нами спомощью наших мессенджеров
				.form-partners__right
					form.form-partners-style
						.input-group
							.input-item
								input(type="text", name="Name", placeholder="Имя*", required)
							.input-item
								input(type="text", name="Phone", placeholder="Телефон*", required)
						.input-item
							input(type="text", name="Email", placeholder="Email*", required)
						.textarea-item
							textarea(name="Message", placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? ")
						button.btn-base.btn-yellow.form-partners__btn Заказать консультацию
