public/universities.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Университеты</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="./css/styles.min.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body class="universities-page">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top-wrapper">
            <nav class="header-top-left">
              <ul class="menu-top hidden-1100">
                <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="header-top-right">
              <div class="header-top-item">
                <div class="header-top-contacts">
                  <div class="header-top-contacts__email hidden-768">info@compass.in.ua</div><a class="header-top-contacts__phone" href="tel:+38(063) 295-39-59"><span>+38(063)</span> 295-39-59</a>
                </div>
              </div>
              <div class="header-top-item">
                <button class="btn-base btn-feedback btn-violet hidden-768">Заказать звонок            </button>
              </div>
              <div class="header-top-item search-langs">
                <button class="btn-search btn-search-js hidden-1100"></button>
                <div class="langs">
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <div class="active">ua</div>
                    </div>
                    <div class="dropdown-item"><a href="#">ru</a></div>
                    <div class="dropdown-item"><a href="#">eng</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="search">
            <form class="search-form">
              <div class="search-form-input">
                <input class="search-form__input" type="text" placeholder="Поиск по сайту">
                <button class="search-form__btn"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-wrapper">
            <div class="header-bottom-left"><a class="header-logo" href="/"></a></div>
            <nav class="header-bottom-right">
              <div class="btn-menu-mobile">
                <button class="btn-search btn-search-js btn-search-mobile"></button>
                <button class="btn-menu btm-memu-js"></button>
              </div>
              <div class="nav-bg-close btm-memu-js"> </div>
              <div class="nav">
                <button class="menu-close btm-memu-js show-1100"></button>
                <ul class="header-bottom-menu">
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Страны</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Образование</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Каникулы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="#">Языковые курсы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/service.html">Наши сервисы</a></li>
                  <li class="header-bottom-menu__item"><a class="header-bottom-menu__link" href="/events.html">Мероприятия</a></li>
                </ul>
                <ul class="menu-top show-1100">
                  <li class="menu-top__item"><a class="menu-top__link" href="/about-us.html">О нас</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/blog.html">Блог</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/partners.html">for partners</a></li>
                  <li class="menu-top__item"><a class="menu-top__link" href="/contacts.html">Контакты</a></li>
                </ul>
                <div class="show-1100">
                  <ul class="menu-social social-links">
                    <li><a class="social-facebook" href="#"></a></li>
                    <li><a class="social-instagram" href="#"></a></li>
                    <li><a class="social-youtube" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="header-actions">
      <div class="container position-relative">
        <div class="header-actions-wrap"><a class="actions-item favorites-link" href="/"><span>99</span></a><a class="actions-item comparisons-link" href="/"><span>99</span></a></div>
      </div>
    </div>
    <main class="main">
      <!--You section or content-->
      <section class="banner-base--min banner-blue banner-base" style="background-image: url(/img/images/universities.jpg);">
        <div class="container">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a href="#">Compass</a></li>
            <li class="breadcrumbs-item">Университеты</li>
          </ul>
          <div class="container-min">
            <div class="banner-base__content">
              <div class="banner-base__title">This is Photoshop's version </div>
              <div class="banner-base__description">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec</div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="filter-top">
          <div class="filter-top-item">
            <input type="radio" name="filter-top-item" id="filter-top-item1" checked>
            <label for="filter-top-item1">высшее образование</label>
          </div>
          <div class="filter-top-item">
            <input type="radio" name="filter-top-item" id="filter-top-item2">
            <label for="filter-top-item2">среднее образование</label>
          </div>
          <div class="filter-top-item">
            <input type="radio" name="filter-top-item" id="filter-top-item3">
            <label for="filter-top-item3">каникулы</label>
          </div>
          <div class="filter-top-item">
            <input type="radio" name="filter-top-item" id="filter-top-item4">
            <label for="filter-top-item4">языковые курсы</label>
          </div>
        </div>
        <button class="btn-mobile-filter btn-open-mobile-filter btn-base btn-more">Весь фильтр</button>
        <div class="universities-content">
          <div class="universities-content-bg"></div>
          <div class="universities-content__left">
            <div class="universities-filters">
              <div class="filters-item">
                <div class="filters-item__title"> По стpанам</div>
                <div class="filters-wrapper">
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item1">
                    <label for="filter-left-item1">Великобритания</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item2">
                    <label for="filter-left-item2">Канада</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item3">
                    <label for="filter-left-item3">Ирландия</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item4">
                    <label for="filter-left-item4">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item5">
                    <label for="filter-left-item5">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item6">
                    <label for="filter-left-item6">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item7">
                    <label for="filter-left-item7">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item8">
                    <label for="filter-left-item8">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item9">
                    <label for="filter-left-item9">США</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item1" id="filter-left-item10">
                    <label for="filter-left-item10">США</label>
                  </div>
                </div>
                <button class="btn-base btn-more filters-item__btn" data-lang="&lt;span&gt;-&lt;/span&gt; скрыть все (+ 77)"><span>+</span> показать все (+ 77)</button>
              </div>
              <div class="filters-item">
                <div class="filters-item__title">  По гоpодам</div>
                <div class="filters-wrapper">
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item11">
                    <label for="filter-left-item11">ВLorem Ipsum</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item12">
                    <label for="filter-left-item12">Proin gravida</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item13">
                    <label for="filter-left-item13">Aenean sollicitudin</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item14">
                    <label for="filter-left-item14">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item15">
                    <label for="filter-left-item15">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item16">
                    <label for="filter-left-item16">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item17">
                    <label for="filter-left-item17">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item2" id="filter-left-item18">
                    <label for="filter-left-item18">Duis sed odio</label>
                  </div>
                </div>
                <button class="btn-base btn-more filters-item__btn" data-lang="&lt;span&gt;-&lt;/span&gt; скрыть все (+ 77)"><span>+</span> показать все (+ 77)</button>
              </div>
              <div class="filters-item">
                <div class="filters-item__title"> По виду</div>
                <div class="filters-wrapper">
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item19">
                    <label for="filter-left-item19">Lorem Ipsum</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item20">
                    <label for="filter-left-item20">Proin gravida</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item21">
                    <label for="filter-left-item21">Aenean sollicitudin</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item22">
                    <label for="filter-left-item22">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item23">
                    <label for="filter-left-item23">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item24">
                    <label for="filter-left-item24">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item25">
                    <label for="filter-left-item25">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item26">
                    <label for="filter-left-item26">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item19">
                    <label for="filter-left-item19">Lorem Ipsum</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item20">
                    <label for="filter-left-item20">Proin gravida</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item21">
                    <label for="filter-left-item21">Aenean sollicitudin</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item22">
                    <label for="filter-left-item22">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item23">
                    <label for="filter-left-item23">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item24">
                    <label for="filter-left-item24">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item25">
                    <label for="filter-left-item25">Duis sed odio</label>
                  </div>
                  <div class="filter-item">
                    <input type="checkbox" name="filter-left-item3" id="filter-left-item26">
                    <label for="filter-left-item26">Duis sed odio</label>
                  </div>
                </div>
                <button class="btn-base btn-more filters-item__btn" data-lang="&lt;span&gt;-&lt;/span&gt; скрыть все (+ 77)"><span>+</span> показать все (+ 77)</button>
              </div>
            </div>
          </div>
          <div class="universities-content__right">
            <div class="universities-wrapper">
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_1.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_2.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_3.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_1.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_2.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_3.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_1.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_2.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
              <div class="universities-item"><a class="universities-item__container" href="#">
                  <div class="universities-item__img"><img src="/img/images/universities/universities_3.jpg" alt="The University of Toledo"></div>
                  <div class="universities-item__title">   The University of Toledo</div>
                  <div class="universities-item__tags">Канада, Ирландия, США</div>
                  <div class="universities-item__link">Узнать подробнее</div></a></div>
            </div>
            <button class="btn-link-more universities-wrapper__btn">загузить еще</button>
          </div>
        </div>
      </div>
      <section class="section form-subscription">
        <div class="container">
          <div class="form-subscription-wrapper">
            <div class="form-subscription__left">
              <div class="form-subscription__title">Хочешь получать новости от </br> <b>Compass</b> первым?</div>
            </div>
            <div class="form-subscription__right">
              <form class="form-subscription-style">
                <div class="input-item">
                  <input type="text" name="Email" placeholder="Ваш email" required>
                </div>
                <button class="btn-base btn-yellow form-subscription__btn">Подписаться</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="hidden">
      <div class="popup popup-feedback" id="popup-feedback">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title">Заполните форму</div>
          <div class="popup-longtitle">Мы свяжемся с вами и ответим на любые возникшие вопросы</div>
        </div>
        <form class="popup-form" action="">
          <div class="popup-inputs">
            <div class="popup-input">
              <input type="text" name="Name" placeholder="Имя*" required>
            </div>
            <div class="popup-input">
              <input class="input-phone-mask" type="text" name="Phone" placeholder="Телефон*" required>
            </div>
          </div>
          <div class="popup-input">
            <input type="text" name="Email" placeholder="Email*" required>
          </div>
          <div class="popup-brn-send">
            <button class="btn-send btn-base btn-violet">подать заявку</button>
          </div>
        </form>
      </div>
      <div class="popup popup-success" id="popup-success">
        <div class="popup-footer">
          <button class="mfp-close"></button>
        </div>
        <div class="popup-logo header-logo"></div>
        <div class="popup-body">
          <div class="popup-title" style="color: #5E4EB4">Спасибо за заявку!</div>
          <div class="popup-longtitle">Наш менеджер свяжется с Вами в ближайшее время</div>
        </div>
      </div>
    </div>
    <div class="popup-action" id="popup-favorites">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Избранное</a></div>
      </div>
    </div>
    <div class="popup-action" id="popup-comparisons">
      <div class="popup-footer">
        <button class="mfp-close popup-action-close"></button>
      </div>
      <div class="popup-img-done"></div>
      <div class="popup-body">
        <div class="popup-longtitle">Успешно добавлено в<a href="/">Сравнение</a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-item"><a class="footer-logo" href="/"></a></div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Страны</div>
            <ul class="footer-item__list">
              <li> <a href="#">Великобритания</a></li>
              <li> <a href="#">Канада</a></li>
              <li> <a href="#">Ирландия</a></li>
              <li> <a href="#">США</a></li>
              <li> <a href="#">Швейцария</a></li>
              <li> <a href="#">Мальта</a></li>
              <li> <a href="#">Все страны</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Образование</div>
            <ul class="footer-item__list">
              <li> <a href="#">Среднее образование</a></li>
              <li> <a href="#">Подготовка к поступлению</a></li>
              <li> <a href="#">Бакалавриат</a></li>
              <li> <a href="#">Магистратура</a></li>
              <li> <a href="#">Последипломное </a></li>
              <li> <a href="#">Каникулы</a></li>
              <li> <a href="#">Языковые курсы</a></li>
            </ul>
          </div>
          <div class="footer-item hidden-1000">
            <div class="footer-item__title">Compass</div>
            <ul class="footer-item__list">
              <li> <a href="#">О нас</a></li>
              <li> <a href="#">Сервисы</a></li>
              <li> <a href="#">Мероприятия</a></li>
              <li> <a href="#">Блог</a></li>
              <li> <a href="#">Партнерам</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <div class="footer-item__title hidden-1000">Контакты</div>
            <div class="footer-item__list">
              <ul class="footer-item__phone">
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
                <li> <a href="tel:+3 976 564 34 21">+3 976 564 34 21</a></li>
              </ul>
              <ul class="footer-item__address">
                <li> г. Днепр, ул. Гоголя 19</li>
                <li>Пн - Пт 10 - 18</li>
                <li>Сб - Вс выходной</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <ul class="footer-item__list social-links">
              <li><a class="social-facebook" href="#"></a></li>
              <li><a class="social-instagram" href="#"></a></li>
              <li><a class="social-youtube" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>

source/pages/universities.pug
extends template/default

block variables
    - var title = 'Университеты'
    - var pageClass = 'universities-page'
    - var page = 'Home'
    - var bgBanner = "background-image: url(/img/images/universities.jpg);"
    - var pageName = 'Университеты'
    - var classBanner = "banner-base--min"
    - var bannerBase__title = "This is Photoshop's version "
    - var bannerBase__description = "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec"

block content
    //You section or content
    include ../blocks/modules/banner-base/banner-base.pug
    .container
        .filter-top
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item1", checked)
                label(for="filter-top-item1") высшее образование
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item2")
                label(for="filter-top-item2") среднее образование
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item3")
                label(for="filter-top-item3") каникулы
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item4")
                label(for="filter-top-item4") языковые курсы
        button.btn-mobile-filter.btn-open-mobile-filter.btn-base.btn-more Весь фильтр
        .universities-content
            .universities-content-bg
            .universities-content__left
                .universities-filters
                    .filters-item
                        .filters-item__title  По стpанам
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item1")
                                label(for="filter-left-item1") Великобритания
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item2")
                                label(for="filter-left-item2") Канада
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item3")
                                label(for="filter-left-item3") Ирландия
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item4")
                                label(for="filter-left-item4") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item5")
                                label(for="filter-left-item5") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item6")
                                label(for="filter-left-item6") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item7")
                                label(for="filter-left-item7") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item8")
                                label(for="filter-left-item8") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item9")
                                label(for="filter-left-item9") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item10")
                                label(for="filter-left-item10") США
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
                    .filters-item
                        .filters-item__title   По гоpодам
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item11")
                                label(for="filter-left-item11") ВLorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item12")
                                label(for="filter-left-item12") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item13")
                                label(for="filter-left-item13") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item14")
                                label(for="filter-left-item14") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item15")
                                label(for="filter-left-item15") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item16")
                                label(for="filter-left-item16") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item17")
                                label(for="filter-left-item17") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item18")
                                label(for="filter-left-item18") Duis sed odio
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
                    .filters-item
                        .filters-item__title  По виду
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item19")
                                label(for="filter-left-item19") Lorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item20")
                                label(for="filter-left-item20") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item21")
                                label(for="filter-left-item21") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item22")
                                label(for="filter-left-item22") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item23")
                                label(for="filter-left-item23") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item24")
                                label(for="filter-left-item24") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item25")
                                label(for="filter-left-item25") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item26")
                                label(for="filter-left-item26") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item19")
                                label(for="filter-left-item19") Lorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item20")
                                label(for="filter-left-item20") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item21")
                                label(for="filter-left-item21") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item22")
                                label(for="filter-left-item22") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item23")
                                label(for="filter-left-item23") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item24")
                                label(for="filter-left-item24") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item25")
                                label(for="filter-left-item25") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item26")
                                label(for="filter-left-item26") Duis sed odio
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
            .universities-content__right
                .universities-wrapper
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                button.btn-link-more.universities-wrapper__btn загузить еще
    include ../blocks/modules/form-subscription/form-subscription.pug
